<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-dark">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="localhost:1337/"><p>LOGO</p></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="localhost:1337/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Genre</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Adventure</a>
              <a class="dropdown-item" href="#">Strategy</a>
              <a class="dropdown-item" href="#">Simulation</a>
              <a class="dropdown-item" href="#">RPG</a>
              <a class="dropdown-item" href="#">Violent</a>
              <a class="dropdown-item" href="#">Singleplayer</a>
              <a class="dropdown-item" href="#">Massively Multiplayer</a>
              <a class="dropdown-item" href="#">Sports</a>
              <a class="dropdown-item" href="#">Racing</a>
              <a class="dropdown-item" href="#">Multiplayer</a>
              <a class="dropdown-item" href="#">Horror</a>
              <a class="dropdown-item" href="#">Open World</a>
              <a class="dropdown-item" href="#">Fantasy</a>
              <a class="dropdown-item" href="#">Sci-fi</a>
              <a class="dropdown-item" href="#">Indie</a>
              <a class="dropdown-item" href="#">FPS</a>
              <a class="dropdown-item" href="#">Mystery</a>
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="New Game.html">New Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="On Sale Game.html">On Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Specification</a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2" type="text" placeholder="Search"> </form>
        <div class="dropdown">
          <a class="btn btn-default navbar-btn text-white" href="http://example.com" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="cart">
            <i class="fa fa-shopping-cart fa-fw"></i>Cart</a>
          <div class="container">
            <ul class="dropdown-menu dropdown-cart" aria-labelledby="cart">
              <li>
                <div class="col-md-12">
                  <span class="item">
                    <span class="item-left">
                      <img src="img/1.jpg" alt="">
                      <span class="item-info">
                        <span>Item name</span>
                        <span>23$</span>
                      </span>
                    </span>
                    <span class="item-right">
                      <i class="fa fa-trash"></i>
                    </span>
                  </span>
                </div>
              </li>
              <li>
                <div class="col-md-12">
                  <span class="item">
                    <span class="item-left">
                      <img src="img/1.jpg" alt="">
                      <span class="item-info">
                        <span>Item name</span>
                        <span>23$</span>
                      </span>
                    </span>
                    <span class="item-right">
                      <i class="fa fa-trash"></i>
                    </span>
                  </span>
                </div>
              </li>
              <li>
                <div class="col-md-12">
                  <span class="item">
                    <span class="item-left">
                      <img src="img/1.jpg" alt="">
                      <span class="item-info">
                        <span>Item name</span>
                        <span>23$</span>
                      </span>
                    </span>
                    <span class="item-right">
                      <i class="fa fa-trash"></i>
                    </span>
                  </span>
                </div>
              </li>
              <li>
                <div class="col-md-12">
                  <span class="item">
                    <span class="item-left">
                      <img src="img/1.jpg" alt="">
                      <span class="item-info">
                        <span>Item name</span>
                        <span>23$</span>
                      </span>
                    </span>
                    <span class="item-right">
                      <i class="fa fa-trash"></i>
                    </span>
                  </span>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="col-md-12 text-right">
                  <a class="btn btn-success btn-sm" href="#">Check Out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <a class="btn btn-default navbar-btn text-white" href="Login.html">
          <i class="fa fa-user fa-fw"></i>Sign in</a>
      </div>
    </div>
  </nav>
  <hr style="border: 1px solid white;" class="m-0 p-0 border border-info">
  <div class="text-center text-white bg-dark py-1" style="background-image: url(&quot;image/background.jpg&quot;);">
    <div class="container p-0 my-1">
      <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active">
              <img src="image/Carousel 1.jpg" style="width: 100%;"> </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item">
              <img src="image/Carousel 2.jpg" style="width: 100%;"> </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item">
              <img src="image/Carousel 3.jpg" style="width: 100%;"> </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item">
              <img src="image/Carousel 4.jpg" style="width: 100%;"> </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </header>
    </div>
    <div class="container bg-light py-2 my-2" style="border-radius: 10px;">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">
            <b>
              <a href="localhost:1337/games/popular" class="text-dark">POPULAR GAME</a>
            </b>
          </h4>
        </div>
      </div>
      <div class="row">
        <%  _.each(games,function(popular){ %>
        <div class="col-md-3">
          <a href="localhost:1337/games/detailGame/<%= popular.id %>"><img class="img-fluid d-block" src="<%= popular.photo_url %>"></a>
          <div class="row">
            <div class="col-md-12" style="height:35px;">
              <h6 class="py-1 text-left m-0 judul">
                <b><%= popular.game_name %></b>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6 class="py-1 m-0 text-left genre" style="font-size:14px;">Action, Sports asa asas asas</h6>
            </div>
            <div class="col-md-6 text-right">
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <span style="font-size:14px;"><%= popular.rating %></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              
              <h6 class="py-1 m-0 text-left">
                Rp.<%= popular.harga.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %>
              </h6>
                
            </div>
            <div class="col-md-6 text-right">
              <a class="btn btn-success btn-sm" href="#">Add</a>
            </div>
          </div>
        </div>
        <%})%>
      </div>

    </div>
    <div class="container bg-light py-2 my-2" style="border-radius: 10px;">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">
            <a href="New Game.html" class="text-dark">
              <b>NEW GAME</b>
            </a>
          </h4>
        </div>
      </div>
      <div class="row">
        <%  _.each(newgame,function(newgames){ %>
        <div class="col-md-3">
          <a href="localhost:1337/games/detailGame/<%= newgames.id %>"><img class="img-fluid d-block" src="<%= newgames.photo_url %>"></a>
          <div class="row">
            <div class="col-md-12" style="height:45px;">
              <h6 class="py-1 text-left m-0 judul">
                <b><%= newgames.game_name %></b>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6 class="py-1 m-0 text-left genre" style="font-size:14px;">Action, Sports asa asas asas</h6>
            </div>
            <div class="col-md-6 text-right">
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <span style="font-size:14px;"><%= newgames.rating %></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6 class="py-1 m-0 text-left">
                Rp.<%= newgames.harga.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %>
              </h6>
            </div>
            <div class="col-md-6 text-right">
              <a class="btn btn-success btn-sm" href="#">Add</a>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
    <div class="container bg-light py-2 my-2" style="border-radius: 10px;">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center">
            <a href="On Sale Game.html" class="text-dark">
              <b> ON SALE GAME</b>
            </a>
          </h4>
        </div>
      </div>
      <div class="row">
        <%  _.each(newgame,function(newgames){ %>
        <div class="col-md-3">
          <a href="localhost:1337/games/detailGame/"><img class="img-fluid d-block" src="<%= newgames.photo_url %>"></a>
          <div class="row">
            <div class="col-md-12" style="height:45px;">
              <h6 class="py-1 text-left m-0 judul">
                <b><%= newgames.game_name %></b>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6 class="py-1 m-0 text-left genre" style="font-size:14px;">Action, Sports asa asas asas</h6>
            </div>
            <div class="col-md-6 text-right">
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <i class="fa fa-star" style="font-size:14px;"></i>
              <span style="font-size:14px;"><%= newgames.rating %></span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6 class="py-1 m-0 text-left">
                Rp.<%= newgames.harga.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %>
              </h6>
            </div>
            <div class="col-md-6 text-right">
              <a class="btn btn-success btn-sm" href="#">Add</a>
            </div>
          </div>
        </div>
        <%})%>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 Pingendo - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    var length = 80;
  
    var text = document.getElementsByClassName("judul")
    var string = text.innerHTML
    var trimmedString = string.length > length ?
      string.substring(0, length - 3) + "..." :
      string
  
    text.innerHTML = trimmedString
  </script>
  <script>
    var length = 20;
  
    var text = document.getElementsByClassName("genre")
    var string = text.innerHTML
    var trimmedString = string.length > length ?
      string.substring(0, length - 3) + "..." :
      string
  
    text.innerHTML = trimmedString
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>