<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="/styles/admin.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-info">
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 bg-dark p-3">
          <img class="img-fluid d-block mx-2" src="/image/Logo Gaming Studio.png" style="width:60px; margin-left:0px !important; float:left;">
          <h3 class="text-left m-0 py-2" style="float:left;">
            <a href="/admin/adminpanel">GAMING STUDIO</a>
          </h3>
          <h6 class="text-left m-0 py-3" style="float:right;">
            <b>LOG OUT</b>
          </h6>
          <div class="row"> </div>
        </div>
      </div>
      <div class="row">
        <div class="p-0 col-md-2 bg-dark">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="/admin/adminpanel" class="active nav-link" data-target="#tabone" data-toggle="pill">DATA USER</a>
            </li>
            <li class="nav-item">
              <a href="/admin/gamepanel" class="nav-link">DATA GAME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Admin jual.html">DATA GAME TERJUAL</a>
            </li>
            <li class="nav-item">
              <a href="/admin/korelasipanel" class="nav-link">KORELASI GENRE</a>
            </li>
            <li class="nav-item">
              <a href="Admin frekuensi.html" class="nav-link">FREKUENSI GENRE</a>
            </li>
            <li class="nav-item">
              <a href="Admin rekomendasi.html" class="nav-link">REKOMENDASI POINT</a>
            </li>
          </ul>
        </div>
        <div class="bg-light col-md-10" style="min-height:768px;">
          <div class="row">
            <div class="bg-light col-md-4 p-3">
              <div class="bg-info p-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-dark m-0 text-center">Total User</h6>
                    <h1 class="text-dark m-0 text-center"><%= usercount%></h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-light col-md-4 p-3">
              <div class="bg-info p-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-dark m-0 text-center">Total Game</h6>
                    <h1 class="text-dark m-0 text-center"><%= gamescount%></h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-light col-md-4 p-3">
              <div class="bg-info p-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-dark m-0 text-center">Total Game Terjual</h6>
                    <h1 class="text-dark m-0 text-center"><%= owngamecount%></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="bg-light p-3 col-md-8">
              <h2 class="text-dark m-0 text-left">DATA USER</h2>
            </div>
            
          </div>
          <div class="row">
            <div class="bg-light px-3 col-md-12">
              <table class="table table table-hover">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Alamat</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% var k = 1; %>
                  <%  _.each(datauser,function(datauser){ %>
                  <form method="POST" action="/admin/userdelete" onsubmit="return confirm('Do you really want to delete <%= datauser.email %>?');" >
                  <tr>
                    <td><%= k %></td>
                    <td><%= datauser.nama %></td>
                    <td><%= datauser.email %></td>
                    <td><%= datauser.alamat %></td>
                    <td><button type="submit">Delete</button></td>
                    <input type="hidden" name="user_id" value="<%= datauser.id %>" >
                  </tr>
                </form> 
                  <% k += 1; %>
                  <%})%>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>