<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="/styles/admin.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-info">
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 bg-dark p-3">
          <img class="img-fluid d-block mx-2" src="/image/Logo Gaming Studio.png" style="width:60px; margin-left:0px !important; float:left;">
          <h3 class="text-left m-0 py-2" style="float:left;">
            <a href="/admin/adminpanel">GAMING STUDIO</a>
          </h3>
          <h6 class="text-left m-0 py-3" style="float:right;">
            <b>LOG OUT</b>
          </h6>
          <div class="row"> </div>
        </div>
      </div>
      <div class="row">
        <div class="p-0 col-md-2 bg-dark">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="/admin/adminpanel" class="nav-link">DATA USER</a>
            </li>
            <li class="nav-item">
              <a class="active nav-link" href="/admin/gamepanel">DATA GAME</a>
            </li>
            <li class="nav-item">
              <a href="/admin/salespanel" class="nav-link">DATA GAME TERJUAL</a>
            </li>
            <li class="nav-item">
              <a href="/admin/korelasipanel" class="nav-link">KORELASI GENRE</a>
            </li>
            <li class="nav-item">
              <a href="/admin/frekuensipanel" class="nav-link">FREKUENSI GENRE</a>
            </li>
            <li class="nav-item">
              <a href="/admin/adminrekomendasi" class="nav-link">REKOMENDASI POINT</a>
            </li>
          </ul>
        </div>
        <div class="bg-light col-md-10" style="min-height:768px;">
          <div class="row">
              
            <div class="bg-light col-md-4 p-3">
              <div class="bg-info p-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-dark m-0 text-center">Total User</h6>
                    <h1 class="text-dark m-0 text-center"><%= usercount%></h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-light col-md-4 p-3">
              <div class="bg-info p-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-dark m-0 text-center">Total Game</h6>
                    <h1 class="text-dark m-0 text-center"><%= gamescount%></h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-light col-md-4 p-3">
              <div class="bg-info p-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-dark m-0 text-center">Total Game Terjual</h6>
                    <h1 class="text-dark m-0 text-center"><%= owngamecount%></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="bg-light p-3 col-md-6">
              <h2 class="text-dark m-0 text-left">DATA GAME</h2>
            </div>
            <% if(flash && flash.err) { %>
              <div class="alert alert-warning alert-dismissible">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <% Object.keys(flash.err).forEach(function(error) { %>
                <h6 class="text-dark"><%- JSON.stringify(flash.err[error]) %></h6>
                <% }) %>
              </div>
            <% } %>
            <div class="bg-light p-3 text-right col-md-2">
              <a class="btn btn-success text-white" href="#myModal" data-toggle="modal">Add Game</a>
            </div>
            <div class="bg-light p-3 col-md-4">
              <form class="form-inline m-0">
                <input class="form-control mr-2 w-100" type="text" placeholder="Search"> </form>
            </div>
          </div>
          <div class="row">
            <div class="bg-light px-3 col-md-10">
              <table class="table table table-hover">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>ID</th>
                    <th>Tanggal</th>
                    <th>Harga</th>
                    <th>Rating</th>
                    <th>Publisher</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% var k = 0; %>
                  <%  _.each(datagame,function(datagame){ %>
                    <% k += 1; %>
                  <tr>
                    <td><%= k%></td>
                    <td><%= datagame.game_name%></td>
                    <td><%= datagame.id%></td>
                    <td><%= datagame.release_date%></td>
                    <td>Rp.<%= datagame.harga%></td>
                    <td><%= datagame.rating%></td>
                    <td><%= datagame.publisher%></td>
                    
                    <td>
                      <form method="POST" action="/admin/gameedit" >
                          <input type="hidden" name="game_id" value="<%= datagame.id%>"> 
                          <button type="submit">Edit</button>
                      </form>
                      
                    </td>
                   
                    <form method="POST" action="/admin/gamedelete" onsubmit="return confirm('Do you really want to delete <%= datagame.game_name%>?');"  >
                      <input type="hidden" name="game_id" value="<%= datagame.id%>">
                      <td><button type="submit">Delete</button></td>
                    </form>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:100%;">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-center w-100">Add Game</h4>
          <button type="button" class="close m-0 p-0" data-dismiss="modal">×</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST" action="/admin/addgame" name="addgame" >
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Game Name</h5>
              </div>
              <div class="col-md-8">
                <input type="text" name="game_name" placeholder="Input Game Name" class="form-control" required > </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Publisher</h5>
              </div>
              <div class="col-md-8">
                <input type="text" name="publisher" placeholder="Input Publisher Name" class="form-control" required > </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Release Date</h5>
              </div>
              <div class="col-md-8">
                <input type="date" name="release_date" placeholder="input release date" class="form-control" required > </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Rating</h5>
              </div>
              <div class="col-md-8">
                <input type="text" name="rating" placeholder="input rating" class="form-control" required > </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Price</h5>
              </div>
              <div class="col-md-8">
                <input type="text" name="harga" placeholder="input price" class="form-control" required > </div>
            </div>
            <div class="row my-1">
                <div class="col-md-4">
                  <h5 class="text-left">Photo Url</h5>
                </div>
                <div class="col-md-8">
                  <input type="text" name="photo_url" placeholder="input photo url" class="form-control"> </div>
              </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Video Url</h5>
              </div>
              <div class="col-md-8">
                <input type="text" name="video_url" placeholder="input video url" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Screenshot 1 url</h5>
              </div>
              <div class="col-md-8">
                <input type="text" name="screenshot1_url" placeholder="input screenshot" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Screenshot 2 url</h5>
              </div>
              <div class="col-md-8">
                  <input type="text" name="screenshot2_url" placeholder="input screenshot" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Screenshot 3 url</h5>
              </div>
              <div class="col-md-8">
                  <input type="text" name="screenshot3_url" placeholder="input screenshot" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Description</h5>
              </div>
              <div class="col-md-8">
                <input type="text" name="description" placeholder="input game description" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12">
                <h5 class="text-left m-0">Genre</h5>
              </div>
            </div>
            <div class="row my-1">
                <div class="col-md-3">
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1d1f7460b278469cc33" name="genre[]">
                    <label>Action</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1d8f7460b278469cc37" name="genre[]">
                    <label>RPG</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1def7460b278469cc3b" name="genre[]">
                    <label>Sports</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f248f7460b278469cc3f" name="genre[]">
                    <label>Open Wo...</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f250f7460b278469cc43" name="genre[]">
                    <label>FPS</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1d3f7460b278469cc34" name="genre[]">
                    <label>Adventure</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1d9f7460b278469cc38" name="genre[]">
                    <label>Violent</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1e0f7460b278469cc3c" name="genre[]">
                    <label>Racing</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f24af7460b278469cc40" name="genre[]">
                    <label>Fantasy</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f253f7460b278469cc44" name="genre[]">
                    <label>Mystery</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1d5f7460b278469cc35" name="genre[]">
                    <label>Strategy</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1dbf7460b278469cc39" name="genre[]">
                    <label>Singleplayer</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f244f7460b278469cc3d" name="genre[]">
                    <label>Multiplayer</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f24cf7460b278469cc41" name="genre[]">
                    <label>Sci-fi</label>
                  </div>
                  <div class="text-left">
                      <input type="checkbox" class="test" id="same-address" value="5b34f255f7460b278469cc45" name="genre[]">
                      <label>Crime</label>
                    </div>
                </div>
                <div class="col-md-3">
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1d6f7460b278469cc36" name="genre[]">
                    <label>Simulation</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f1ddf7460b278469cc3a" name="genre[]">
                    <label>Massively...</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f246f7460b278469cc3e" name="genre[]">
                    <label>Horror</label>
                  </div>
                  <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f24ef7460b278469cc42" name="genre[]">
                    <label>Indie</label>
                  </div>
                </div>
              </div>
            <div class="row my-1">
              <div class="col-md-12">
                <h5 class="text-left m-0">Minimum Requirement</h5>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">OS</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" name="OS" id="sel1" required >
                  <option>Windows 7 / 8 (8.1)/ 10 64Bit</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Processor</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1" name="procminimum" required >
                    <%  _.each(processor,function(processor){ %>
                      <option value="<%= processor.id %>"><%= processor.processor_name %></option>
                      <%})%>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Memory</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1" name="ramminimum" required >
                  <<%  _.each(ram,function(ram){ %>
                    <option value="<%= ram.id %>"><%= ram.ram_size %></option>
                    <%})%>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Graphics</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1" name="vgaminimum" required >
                    <%  _.each(vga,function(vga){ %>
                      <option value="<%= vga.id %>"><%= vga.vga_name %></option>
                      <%})%>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Storage</h5>
              </div>
              <div class="col-md-8">
                  <input type="text" name="HDD_space" placeholder="Input Storage" class="form-control" required >
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12">
                <h5 class="text-left m-0">Recommended Requirement</h5>
              </div>
            </div>
            <div class="row my-1">
                <div class="col-md-4">
                  <h5 class="text-left">OS</h5>
                </div>
                <div class="col-md-8">
                  <select class="form-control" id="sel1" required >
                    <option>Windows 7 / 8 (8.1)/ 10 64Bit</option>
                  </select>
                </div>
              </div>
              <div class="row my-1">
                <div class="col-md-4">
                  <h5 class="text-left">Processor</h5>
                </div>
                <div class="col-md-8">
                  <select class="form-control" id="sel1" name="procrec" required >
                      <%  _.each(processor,function(processor){ %>
                        <option value="<%= processor.id %>"><%= processor.processor_name %></option>
                        <%})%>
                  </select>
                </div>
              </div>
              <div class="row my-1">
                <div class="col-md-4">
                  <h5 class="text-left">Memory</h5>
                </div>
                <div class="col-md-8">
                  <select class="form-control" id="sel1" name="ramrec" required >
                    <<%  _.each(ram,function(ram){ %>
                      <option value="<%= ram.id %>"><%= ram.ram_size %></option>
                      <%})%>
                  </select>
                </div>
              </div>
              <div class="row my-1">
                <div class="col-md-4">
                  <h5 class="text-left">Graphics</h5>
                </div>
                <div class="col-md-8">
                  <select class="form-control" id="sel1" name="vgarec" required >
                      <%  _.each(vga,function(vga){ %>
                        <option value="<%= vga.id %>"><%= vga.vga_name %></option>
                        <%})%>
                  </select>
                </div>
              </div>
              <div class="row my-1">
                <div class="col-md-4">
                  <h5 class="text-left">Storage</h5>
                </div>
                <div class="col-md-8">
                    <input type="text" placeholder="Input Storage" class="form-control" required >
                </div>
              </div>
          
        </div>
        <!-- Modal footer -->
        <div class="modal-footer text-center">
          <button type="submit" class="btn btn-success btn-block btn-sm text-center">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script>
      $('.test').change(function(){
      if($('input.test').filter(':checked').length == 4)
          $('input.test:not(:checked)').attr('disabled', 'disabled');
      else
          $('input.test').removeAttr('disabled');
  });
</script>
<script>
  $(document).ready(function(){
  $("form[name = 'addgame' ]").submit(function(){
  if ($('input:checkbox').filter(':checked').length < 1){
      alert("Check at least one Genre!");
  return false;
  }
  });
});
</script>


</body>

</html>