<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="/styles/admin.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-info">
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 bg-dark p-3">
          <img class="img-fluid d-block mx-2" src="/image/Logo Gaming Studio.png" style="width:60px; margin-left:0px !important; float:left;">
          <h3 class="text-left m-0 py-2" style="float:left;">
            <a href="/admin/adminpanel">GAMING STUDIO</a>
          </h3>
          <h6 class="text-left m-0 py-3" style="float:right;">
            <b>LOG OUT</b>
          </h6>
          <div class="row"> </div>
        </div>
      </div>
      <div class="row">
        <div class="p-0 col-md-3 bg-dark">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a href="/admin/adminpanel" class="nav-link">DATA USER</a>
            </li>
            <li class="nav-item">
              <a class="active nav-link" href="/admin/gamepanel">DATA GAME</a>
            </li>
            <li class="nav-item">
              <a href="Admin jual.html" class="nav-link">DATA GAME TERJUAL</a>
            </li>
            <li class="nav-item">
              <a href="&lt;li class=&quot;nav-item&quot;&gt;&#10;              &lt;a href=&quot;Admin korelasi.html&quot; class=&quot;nav-link&quot;&gt;KORELASI GENRE&lt;/a&gt;&#10;            &lt;/li&gt;Admin korelasi.html" class="nav-link">KORELASI GENRE</a>
            </li>
            <li class="nav-item">
              <a href="Admin frekuensi.html" class="nav-link">FREKUENSI GENRE</a>
            </li>
            <li class="nav-item">
              <a href="Admin rekomendasi.html" class="nav-link">REKOMENDASI POINT</a>
            </li>
          </ul>
        </div>
        <div class="bg-light col-md-9" style="min-height:768px;">
          <div class="row">
            <div class="bg-light col-md-4 p-3">
              <div class="bg-info p-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-dark m-0 text-center">Total User</h6>
                    <h1 class="text-dark m-0 text-center"><%= usercount%></h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-light col-md-4 p-3">
              <div class="bg-info p-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-dark m-0 text-center">Total Game</h6>
                    <h1 class="text-dark m-0 text-center"><%= gamescount%></h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-light col-md-4 p-3">
              <div class="bg-info p-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-dark m-0 text-center">Total Game Terjual</h6>
                    <h1 class="text-dark m-0 text-center"><%= owngamecount%></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="bg-light p-3 col-md-6">
              <h2 class="text-dark m-0 text-left">DATA GAME</h2>
            </div>
            <div class="bg-light p-3 text-right col-md-2">
              <a class="btn btn-success text-white" href="#myModal" data-toggle="modal">Add</a>
            </div>
            <div class="bg-light p-3 col-md-4">
              <form class="form-inline m-0">
                <input class="form-control mr-2 w-100" type="text" placeholder="Search"> </form>
            </div>
          </div>
          <div class="row">
            <div class="bg-light px-3 col-md-10">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>ID</th>
                    <th>Tanggal</th>
                    <th>Harga</th>
                    <th>Rating</th>
                    <th>Publisher</th>
                  </tr>
                </thead>
                <tbody>
                  <%  _.each(datagame,function(datagame){ %>
                  <tr>
                    <td><%= datagame.game_name%></td>
                    <td><%= datagame.id%></td>
                    <td><%= datagame.release_date%></td>
                    <td>Rp.<%= datagame.harga%></td>
                    <td><%= datagame.rating%></td>
                    <td><%= datagame.publisher%></td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
            <div class="bg-light p-0 col-md-2">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center p-0">
                      <a class="btn btn-success text-white" href="Admin edit.html">Edit</a>
                    </td>
                    <td class="text-center">
                      <i class="fa fa-trash" style="font-size:24px;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center p-0">
                      <a class="btn btn-success text-white" href="Admin edit.html">Edit</a>
                    </td>
                    <td class="text-center">
                      <i class="fa fa-trash" style="font-size:24px;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center p-0">
                      <a class="btn btn-success text-white" href="Admin edit.html">Edit</a>
                    </td>
                    <td class="text-center">
                      <i class="fa fa-trash" style="font-size:24px;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:100%;">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-center w-100">Add Game</h4>
          <button type="button" class="close m-0 p-0" data-dismiss="modal">×</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Judul Game</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Publisher</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Tahun</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Rating</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Harga</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Video</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Gambar 1</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Gambar 2</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Gambar 3</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Deskripsi</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12">
                <h5 class="text-left m-0">Genre</h5>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-3">
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Action</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">RPG</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Sports</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Open Wo...</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">FPS</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Adventure</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Violent</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Racing</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Fantasy</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Mystery</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Strategy</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Singleplayer</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Multiplayer</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Sci-fi</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Action</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Simulation</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Massively...</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Horror</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" id="same-address" value="on">
                  <label for="same-address">Indie</label>
                </div>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12">
                <h5 class="text-left m-0">Minimum Requirement</h5>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">OS</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Processor</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Memory</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Graphics</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Storage</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12">
                <h5 class="text-left m-0">Recommended Requirement</h5>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">OS</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Processor</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Memory</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Graphics</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Storage</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" id="sel1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-success btn-block btn-sm text-center">Save</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>