<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Genre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">On Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Specification</a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2" type="text" placeholder="Search"> </form>
        <a class="btn btn-default navbar-btn">
          <i class="fa fa-shopping-cart fa-fw"></i>Cart</a>
        <a class="btn btn-default navbar-btn">
          <i class="fa fa-user fa-fw"></i>Sign in</a>
      </div>
    </div>
  </nav>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4><%= games.game_name %></h4>
          <div class="row">
            <div class="col-md-12">
              <div class="embed-responsive embed-responsive-4by3 my-2">
                <video src="<%= games.video_url %>" class="embed-responsive-item" controls="controls"> Your browser does not support HTML5 video. </video>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <img class="img-fluid d-block" src="<%= games.screenshot1_url %>" style="width:100%;cursor:pointer" onclick="onClick(this)"> </div>
                <div class="col-md-4">
                  <img class="img-fluid d-block" src="<%= games.screenshot2_url %>" style="width:100%;cursor:pointer" onclick="onClick(this)"> </div>
                <div class="col-md-4">
                  <img class="img-fluid d-block" src="<%= games.screenshot3_url %>" onclick="onClick(this)" style="width:100%;cursor:pointer"> </div>
              </div>
              <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">×</span>
                <div class="w3-modal-content w3-animate-zoom">
                  <img id="img01" style="width:100%"> </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4 class="">Description</h4>
                  <p class=""><%= games.description %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <h4 class="">Review</h4>
                </div>
                <div class="col-md-3 text-right">
                  <a class="btn btn-success btn-sm" href="#">Add Review</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <h5 class="">User 1</h5>
                </div>
                <div class="col-md-3 text-right">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <h5 class="">User 1</h5>
                </div>
                <div class="col-md-3 text-right">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4 class="">Game Detail</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0" contenteditable="true">Publisher</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0"><%= games.publisher %></h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Release Date</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0"><%= games.release_date %></h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Genre</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">
                    <%  _.each(games.genreStrings,function(genre_list){ %>
                          <a href="#">
                            <%= genre_list.nama_genre %>
                          </a>
                          <%})%>
                  </h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Rating</h6>
                </div>
                <div class="col-md-8">
                  <i class="fa fa-star" style="font-size:14px;"></i>
                  <i class="fa fa-star" style="font-size:14px;"></i>
                  <i class="fa fa-star" style="font-size:14px;"></i>
                  <i class="fa fa-star" style="font-size:14px;"></i>
                  <i class="fa fa-star" style="font-size:14px;"></i>
                  <span style="font-size:14px;margin:7px;"><%= games.rating %></span>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Price</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">Rp.<%= games.harga.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %></h6>
                </div>
              </div>
            </li>
          </ul>
          <div class="row my-2">
            <div class="col-md-12">
              <a class="btn btn-success btn-sm" href="#">Add to cart</a>
            </div>
          </div>
          <h4 class="text-center my-3">Feature Ratings
            <br> </h4>
          <div class="row my-2">
            <div class="col-md-4">
              <h6 class="m-0">Gameplay</h6>
            </div>
            <div class="col-md-8 bar-container p-0 m-0" style="width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;">
              <div class="gameplay" style="width: 60%; height: 18px; background-color: #4CAF50;"> </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4">
              <h6 class="m-0">Graphics</h6>
            </div>
            <div class="col-md-8 bar-container p-0 m-0" style="width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;">
              <div class="gameplay" style="width: 30%; height: 18px; background-color: #4CAF50;"> </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4">
              <h6 class="m-0">Controls</h6>
            </div>
            <div class="col-md-8 bar-container p-0 m-0" style="width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;">
              <div class="gameplay" style="width: 75%; height: 18px; background-color: #4CAF50;"> </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4">
              <h6 class="m-0">Story</h6>
            </div>
            <div class="col-md-8 bar-container p-0 m-0" style="width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;">
              <div class="gameplay" style="width: 50%; height: 18px; background-color: #4CAF50;"> </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-4">
              <h6 class="m-0">Music</h6>
            </div>
            <div class="col-md-8 bar-container p-0 m-0" style="width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;">
              <div class="gameplay" style="width: 40%; height: 18px; background-color: #4CAF50;"> </div>
            </div>
          </div>
          <h4 class="text-center my-3">System Requirement
            <br> </h4>
          <h6 class="">
            <b>Minimum Requirement :</b>
          </h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">OS</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">Lorem</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Processor</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">Lorem</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Memory</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">Lorem</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Graphics</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">Lorem</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Storage</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">lorem</h6>
                </div>
              </div>
            </li>
          </ul>
          <h6 class="" style="margin-top:30px;">
            <b>Recommended Requirement :</b>
          </h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">OS</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">Lorem</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Processor</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">Lorem</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Memory</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">Lorem</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Graphics</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">Lorem</h6>
                </div>
              </div>
            </li>
            <li class="list-group-item p-0">
              <div class="row my-1">
                <div class="col-md-4">
                  <h6 class="m-0">Storage</h6>
                </div>
                <div class="col-md-8">
                  <h6 class="m-0">lorem</h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 Pingendo - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>