<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-dark">
  <hr style="border: 1px solid white;" class="m-0 p-0 border border-info">
  <div class="text-center text-white bg-dark py-1" style="background-image: url(&quot;/image/background.jpg&quot;);">
    <div class="container" style="border-radius: 10px;">
      <div class="row">
        <div class="col-md-8 m-0">
          <div class="container bg-light my-2 py-2">
            <div class="row">
              <div class="text-center col-md-4">
                <form method="POST" action="/user/uploadPhotoProfil" enctype="multipart/form-data">
                  <%
                    if(userProfil.photo_url){%>
                        <img class="img-thumbnail" src="<%=userProfil.photo_url%>">
                    <%}
                    else{%>
                      <img class="img-fluid mx-auto" src="/image/login.png" alt="Card image" height="16" width="150">
                    <%}
                  %>
                <input class="form-control" type="file" name="photo_url" accept="image/*" >
                <input type="hidden" name="id" value="<%= req.session.User.id %>">

                <div class="row">
                  <div class="col-md-12 text-center">
                    <button class="btn btn-success m-2" type="submit" data-toggle="modal">Change Photo</button>
                  </div>
                </form>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <button class="btn btn-success" href="#myModal" data-toggle="modal">Update Profile</button>
                  </div>
                </div>
              </div>
              <div class="col-md-8 py-2">
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="text-left">Nama</h5>
                  </div>
                  <div class="col-md-9">
                    <%
                    if(typeof(userProfil.nama) == 'undefined'){%>
                      <h5 class="text-left">: User</h5>
                      <%}
                      else{%>
                        <h5 class="text-left">: <%= userProfil.nama %></h5>
                      <%}%>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="text-left">Alamat</h5>
                  </div>
                  <div class="col-md-9">
                    <%
                    if(typeof(userProfil.alamat) == 'undefined'){%>
                      <h5 class="text-left">: Jl. Thamrin No. 86</h5>
                      <%}
                      else{%>
                        <h5 class="text-left">: <%= userProfil.alamat %></h5>
                      <%}%>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="text-left">Email</h5>
                  </div>
                  <div class="col-md-9">
                    <h5 class="text-left">: <%= userProfil.email %></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="text-left">Preference</h5>
                  </div>
                  <div class="col-md-9 text-left">
                        <h5 class="text-left" style="display: inline;">
                          :
                        <%  _.each(getgenre,function(genrename){ %>
                          <%= genrename.genre_name %>,
                          <%})%>
                        </h5>
                        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container my-2 py-2 bg-light">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-left text-dark m-0">
                  <b>Wallet Balance</b>
                </h4>
                <div class="row">
                  <div class="col-md-9">
                    <%
                    if(typeof(userProfil.wallet) == 'undefined'){%>
                      <h3 class="text-left">Rp. 0</h3>
                      <%}
                      else{%>
                        <h3 class="text-left" id="wallet" >Rp. <%= userProfil.wallet.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %></h3>
                      <%}%>
                  </div>
                  <div class="text-right col-md-3">
                    <a class="btn btn-success btn-sm" href="/user/topup">Top Up</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="m-0 col-md-12">
          <div class="container bg-light my-2 py-2">
            <div class="row text-center">
              <div class="col-md-12">
                <h2 class="text-center">My Specification</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="px-4 col-md-2">
                    <h5 class="text-left">Processor</h5>
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-left">: <%= userprocessor.processor_name %></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="px-4 col-md-2">
                    <h5 class="text-left">Memory</h5>
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-left">: <%= userram.ram_size %> GB</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="px-4 col-md-2">
                    <h5 class="text-left">Graphics</h5>
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-left">: <%= uservga.vga_name %></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-left px-4">
                    <button class="btn btn-success" href="#myModal2" data-toggle="modal">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:100%;">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-center w-100" contenteditable="true">Update Profile</h4>
          <button type="button" class="close m-0 p-0" data-dismiss="modal">×</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST" action="/user/updateProfile" name="profileupdate" >
            <div class="row my-1">
                <input type="hidden" value="<%= req.session.User.id %>" name="id">
              <div class="col-md-4">
                <h5 class="text-left">Nama</h5>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Nama Sebelumnya" value="<%= userProfil.nama %>" name="nama"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Alamat</h5>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Alamat Sebelumnya" value="<%= userProfil.alamat %>" name="alamat"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Email</h5>
              </div>
              <div class="col-md-8">
                <input type="email" class="form-control" placeholder="Email Sebelumnya" value="<%= userProfil.email %>" disabled> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12">
                <h5 class="text-left m-0">Preference</h5>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-3">
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1d1f7460b278469cc33" name="genre[]" 
                  <%
                  if(user.genre.indexOf("5b34f1d1f7460b278469cc33") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Action</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1d8f7460b278469cc37" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f1d8f7460b278469cc37") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>RPG</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1def7460b278469cc3b" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f1def7460b278469cc3b") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Sports</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f248f7460b278469cc3f" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f248f7460b278469cc3f") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Open Wo...</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f250f7460b278469cc43" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f250f7460b278469cc43") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>FPS</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1d3f7460b278469cc34" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f1d3f7460b278469cc34") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Adventure</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1d9f7460b278469cc38" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f1d9f7460b278469cc38") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Violent</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1e0f7460b278469cc3c" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f1e0f7460b278469cc3c") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Racing</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f24af7460b278469cc40" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f24af7460b278469cc40") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Fantasy</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f253f7460b278469cc44" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f253f7460b278469cc44") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Mystery</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1d5f7460b278469cc35" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f1d5f7460b278469cc35") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Strategy</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1dbf7460b278469cc39" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f1dbf7460b278469cc39") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Singleplayer</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f244f7460b278469cc3d" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f244f7460b278469cc3d") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Multiplayer</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f24cf7460b278469cc41" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f24cf7460b278469cc41") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Sci-fi</label>
                </div>
                <div class="text-left">
                    <input type="checkbox" class="test" id="same-address" value="5b34f255f7460b278469cc45" name="genre[]"
                    <%
                    if(user.genre.indexOf("5b34f255f7460b278469cc45") > -1){%>
                      checked="checked"
                      <%}%>
                    >
                    <label>Crime</label>
                  </div>
              </div>
              <div class="col-md-3">
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1d6f7460b278469cc36" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f1d6f7460b278469cc36") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Simulation</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f1ddf7460b278469cc3a" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f1ddf7460b278469cc3a") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Massively...</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f246f7460b278469cc3e" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f246f7460b278469cc3e") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Horror</label>
                </div>
                <div class="text-left">
                  <input type="checkbox" class="test" id="same-address" value="5b34f24ef7460b278469cc42" name="genre[]"
                  <%
                  if(user.genre.indexOf("5b34f24ef7460b278469cc42") > -1){%>
                    checked="checked"
                    <%}%>
                  >
                  <label>Indie</label>
                </div>
              </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer text-center">
          <button type="submit" class="btn btn-success btn-block btn-sm text-center">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-center w-100" contenteditable="true">Update Specification</h4>
          <button type="button" class="close m-0 p-0" data-dismiss="modal">×</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST" action="/user/updateSpek">
            <div class="row my-1">
              <div class="col-md-4">
                <input type="hidden" value="<%= req.session.User.id %>" name="id">
                <h5 class="text-left">Processor</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" name="processor_id" id="sel1">
                  <%  _.each(processor,function(processor){ %>
                  <option value="<%= processor.id %>"><%= processor.processor_name %></option>
                  <%})%>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Memory</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" name="ram_id" id="sel1">
                  <%  _.each(ram,function(ram){ %>
                  <option value="<%= ram.id %>"><%= ram.ram_size %></option>
                  <%})%>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Graphics</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" name="vga_id" id="sel1">
                  <%  _.each(vga,function(vga){ %>
                  <option value="<%= vga.id %>"><%= vga.vga_name %></option>
                  <%})%>
                </select>
              </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer text-center">
          <button type="submit" class="btn btn-success btn-block btn-sm text-center">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  
  <div class="py-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
            <p>© Copyright 2018 Gamestudio - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
    }
  </script>
  <script>
        $('.test').change(function(){
        if($('input.test').filter(':checked').length == 4)
            $('input.test:not(:checked)').attr('disabled', 'disabled');
        else
            $('input.test').removeAttr('disabled');
    });
  </script>
<script>
    $(document).ready(function(){
    $("form[name = 'profileupdate' ]").submit(function(){
		if ($('input:checkbox').filter(':checked').length < 1){
        alert("Check at least one Genre!");
		return false;
		}
    });
});
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/jquery.barrating.min.js"></script>
</body>

</html>