<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-dark">
  <hr style="border: 1px solid white;" class="m-0 p-0 border border-info">
  <div class="text-center text-white bg-dark py-1" style="background-image: url(&quot;/image/background.jpg&quot;);">
    <div class="container" style="border-radius: 10px;">
      <div class="row">
        <div class="col-md-8 m-0">
          <div class="container bg-light my-2 py-2">
            <div class="row">
              <div class="text-center col-md-4">
                <img class="img-fluid mx-auto" src="/image/login.png" alt="Card image" height="16" width="150
200">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <a class="btn btn-success m-2" href="localhost:1337/user/uploadPhotoProfil" data-toggle="modal">Change Photo</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <a class="btn btn-success" href="#myModal" data-toggle="modal">Update Profile</a>
                  </div>
                </div>
              </div>
              <div class="col-md-8 py-2">
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="text-left">Nama</h5>
                  </div>
                  <div class="col-md-9">
                    <h5 class="text-left">: <%= userProfil.nama %></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="text-left">Alamat</h5>
                  </div>
                  <div class="col-md-9">
                    <h5 class="text-left">: <%= userProfil.alamat %></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="text-left">Email</h5>
                  </div>
                  <div class="col-md-9">
                    <h5 class="text-left">: <%= userProfil.email %></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <h5 class="text-left">Preference</h5>
                  </div>
                  <div class="col-md-9">
                    <h5 class="text-left">: lorem</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container my-2 py-2 bg-light">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-left text-dark m-0">
                  <b>Wallet Balance</b>
                </h4>
                <div class="row">
                  <div class="col-md-9">
                    <%
                    if(typeof(userProfil.wallet) == 'undefined'){%>
                      <h3 class="text-right">Rp. 0</h3>
                      <%}
                      else{%>
                        <h3 class="text-right">Rp. <%= userProfil.wallet.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %></h3>
                      <%}%>
                  </div>
                  <div class="text-right col-md-3">
                    <a class="btn btn-success btn-sm" href="http://localhost:1337/user/topup">Top Up</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="m-0 col-md-12">
          <div class="container bg-light my-2 py-2">
            <div class="row text-center">
              <div class="col-md-12">
                <h2 class="text-center">My Specification</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="px-4 col-md-2">
                    <h5 class="text-left">Processor</h5>
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-left">: <%= userprocessor.processor_name %></h5>
                  </div>
                </div>
                <div class="row">
                  <div class="px-4 col-md-2">
                    <h5 class="text-left">Memory</h5>
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-left">: <%= userram.ram_size %> GB</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="px-4 col-md-2">
                    <h5 class="text-left">Graphics</h5>
                  </div>
                  <div class="col-md-10">
                    <h5 class="text-left">: <%= uservga.vga_name %></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-center w-100" contenteditable="true">Update Profile</h4>
          <button type="button" class="close m-0 p-0" data-dismiss="modal">×</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form method="POST" action="/user/updateProfile">
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Nama</h5>
              </div>
              <div class="col-md-8">
                <input type="hidden" name="id" value="<%= req.session.User.id %>">
                <input type="text" class="form-control" name="nama" placeholder="Nama Sebelumnya"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Alamat</h5>
              </div>
              <div class="col-md-8">
                <input type="text" name="alamat" class="form-control" placeholder="Alamat Sebelumnya"> </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12">
                <h5 class="text-left m-0">Preference</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-left my-1">Genre 1 :</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <select class="form-control" name="genre1" id="sel1">
                      <%  _.each(genre,function(genre){ %>
                      <option value="<%= genre.id %>"><%= genre.genre_name %></option>
                       <%})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-left my-1">Genre 2 :</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <select class="form-control" name="genre2" id="sel1">
                      <%  _.each(genre,function(genre){ %>
                      <option value="<%= genre.id %>"><%= genre.genre_name %></option>
                       <%})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-left my-1">Genre 3 :</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <select class="form-control" name="genre3" id="sel1">
                      <%  _.each(genre,function(genre){ %>
                      <option value="<%= genre.id %>"><%= genre.genre_name %></option>
                       <%})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-left my-1">Genre 4 :</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <select class="form-control" name="genre4" id="sel1">
                      <%  _.each(genre,function(genre){ %>
                      <option value="<%= genre.id %>" name="genre4"><%= genre.genre_name %></option>
                       <%})%>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-12 text-center">
                <h5 class="text-center my-2">My Specification</h5>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Processor</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" name="processor_id" id="sel1">
                  <%  _.each(processor,function(processor){ %>
                  <option value="<%= processor.id %>"><%= processor.processor_name %></option>
                  <%})%>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Memory</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" name="ram_id" id="sel1">
                  <%  _.each(ram,function(ram){ %>
                  <option value="<%= ram.id %>"><%= ram.ram_size %></option>
                  <%})%>
                </select>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-md-4">
                <h5 class="text-left">Graphics</h5>
              </div>
              <div class="col-md-8">
                <select class="form-control" name="vga_id" id="sel1">
                  <%  _.each(vga,function(vga){ %>
                  <option value="<%= vga.id %>"><%= vga.vga_name %></option>
                  <%})%>
                </select>
              </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer text-center">
          <button type="submit" class="btn btn-success btn-block btn-sm text-center">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
            <p>© Copyright 2018 Gamestudio - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/jquery.barrating.min.js"></script>
</body>

</html>