<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-dark">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a href="http://localhost:1337/"><img class="img-fluid d-block mx-2" src="/image/Logo Gaming Studio.png" style="width:40px; margin-left:0px !important;"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:1337">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Genre</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Adventure</a>
              <a class="dropdown-item" href="#">Strategy</a>
              <a class="dropdown-item" href="#">Simulation</a>
              <a class="dropdown-item" href="#">RPG</a>
              <a class="dropdown-item" href="#">Violent</a>
              <a class="dropdown-item" href="#">Singleplayer</a>
              <a class="dropdown-item" href="#">Massively Multiplayer</a>
              <a class="dropdown-item" href="#">Sports</a>
              <a class="dropdown-item" href="#">Racing</a>
              <a class="dropdown-item" href="#">Multiplayer</a>
              <a class="dropdown-item" href="#">Horror</a>
              <a class="dropdown-item" href="#">Open World</a>
              <a class="dropdown-item" href="#">Fantasy</a>
              <a class="dropdown-item" href="#">Sci-fi</a>
              <a class="dropdown-item" href="#">Indie</a>
              <a class="dropdown-item" href="#">FPS</a>
              <a class="dropdown-item" href="#">Mystery</a>
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:1337/games/newgame/1">New Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="On Sale Game.html">On Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Specification</a>
          </li>
        </ul>
        <form class="form-inline m-0" action="/games/search/" method="POST">
          <input class="form-control mr-2" type="search" name="search" placeholder="Search"> </form>
        <div class="dropdown">
          <a class="btn btn-default navbar-btn text-white" href="http://example.com" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="cart">
            <i class="fa fa-shopping-cart fa-fw"></i>Cart</a>
          <div class="container">
            <ul class="dropdown-menu dropdown-cart" aria-labelledby="cart">
              <li>
                <div class="col-md-12">
                  <span class="item">
                    <span class="item-left">
                      <img src="img/1.jpg" alt="">
                      <span class="item-info">
                        <span>Item name</span>
                        <span>23$</span>
                      </span>
                    </span>
                    <span class="item-right">
                      <i class="fa fa-trash"></i>
                    </span>
                  </span>
                </div>
              </li>
              <li>
                <div class="col-md-12">
                  <span class="item">
                    <span class="item-left">
                      <img src="img/1.jpg" alt="">
                      <span class="item-info">
                        <span>Item name</span>
                        <span>23$</span>
                      </span>
                    </span>
                    <span class="item-right">
                      <i class="fa fa-trash"></i>
                    </span>
                  </span>
                </div>
              </li>
              <li>
                <div class="col-md-12">
                  <span class="item">
                    <span class="item-left">
                      <img src="img/1.jpg" alt="">
                      <span class="item-info">
                        <span>Item name</span>
                        <span>23$</span>
                      </span>
                    </span>
                    <span class="item-right">
                      <i class="fa fa-trash"></i>
                    </span>
                  </span>
                </div>
              </li>
              <li>
                <div class="col-md-12">
                  <span class="item">
                    <span class="item-left">
                      <img src="img/1.jpg" alt="">
                      <span class="item-info">
                        <span>Item name</span>
                        <span>23$</span>
                      </span>
                    </span>
                    <span class="item-right">
                      <i class="fa fa-trash"></i>
                    </span>
                  </span>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="col-md-12 text-right">
                  <a class="btn btn-success btn-sm" href="#">Check Out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <a class="btn btn-default navbar-btn text-white" href="Login.html">
          <i class="fa fa-user fa-fw"></i>Sign in</a>
      </div>
    </div>
  </nav>
  <hr style="border: 1px solid white;" class="m-0 p-0 border border-info">
  <div class="text-center text-white bg-dark py-1" style="background-image: url(&quot;img/web background.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="container bg-light py-2 my-2 w-75" style="border-radius: 10px; min-height:750px;">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center my-2">
                  <b>
                    <a class="text-dark"> Search Result</a>
                </h4>
              </div>
            </div>
            <% _.each(search,function(search){%>
            <div class="row my-2" style="margin-top:0px !important;">
              <div class="m-0 col-md-3" style="padding-right:0px; padding-top:0px; padding-botton:0px;">
                <img class="img-fluid d-block" src="<%=search.photo_url%>" width="100%"> </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="text-right col-md-12">
                    <h4 class="text-truncate m-0 py-1 w-100 text-left">
                      <a href="http://localhost:1337/games/detailGame/<%=search.id%>"><p class="text-dark"><%=search.game_name%></p></a>
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5 class="py-1 m-0 text-left text-truncate">Action, Sports asa asas asas</h5>
                  </div>
                  <div class="col-md-6">
                    <h5 class="py-1 m-0 text-right">Rp.<%= search.harga.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %></h5>
                  </div>
                </div>
                <div class="row my-1">
                  <div class="col-md-7 text-left">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span style="font-size:14px;"><%=search.rating%></span>
                  </div>
                  <div class="text-right col-md-5">
                    <a class="btn btn-success btn-sm" href="#">Add</a>
                  </div>
                </div>
              </div>
            </div>
            <%})%>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 Pingendo - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
 
</body>

</html>