<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/styles/custom.css" type="text/css">
  <link rel="stylesheet" href="/styles/theme.css" type="text/css"> </head>

<body class="bg-dark">
    <%
    if(req.session.User){ %>
 
  <hr style="border: 1px solid white;" class="m-0 p-0 border border-info">
  <div class="text-center text-white bg-dark py-1" style="background-image: url(&quot;/image/background.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="container bg-light py-2 my-2 w-75" style="border-radius: 10px; min-height:750px;">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center my-2">
                  <b>
                    <a class="text-dark"> Search Result</a>
                </h4>
              </div>
            </div>
            <% _.each(search,function(search){%>
            <form method="POST" action="/cart/checkcartsearch">
            <div class="row my-2" style="margin-top:0px !important;">
              <div class="m-0 col-md-3" style="padding-right:0px; padding-top:0px; padding-bottom:0px;">
                <img class="img-fluid d-block" src="<%=search.photo_url%>" width="100%"> </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="text-right col-md-12">
                    <h5 class="text-truncate py-1 w-100 text-left text-dark" style="margin-bottom: 0px !important;">
                      <a class="text-dark" href="http://localhost:1337/games/detailGame/<%=search.id%>"><%=search.game_name%></a>
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="py-1 m-0 text-left text-truncate"><%=search.release_date%></h6>
                  </div>
                  <div class="col-md-6">
                    <h6 class="py-1 m-0 text-right">Rp.<%= search.harga.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %></h6>
                  </div>
                </div>
                <div class="row my-1">
                  <div class="col-md-7 text-left">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span style="font-size:14px;"><%=search.rating%></span>
                  </div>
                  <div class="text-right col-md-5">
                      <input id="currenturl" type="hidden" name="current_url">
                      <input type="hidden" value="<%= search.id %>" name="id_game">
                      <input type="hidden" name="photo_url" value="<%= search.photo_url %>">
                      <input type="hidden" value="<%=req.session.User.id%>" name="user_id">
                      <input type="hidden" value="<%= search.game_name %>" name="nama_game">
                      <input type="hidden" value="<%= search.harga %>" name="harga">
                      <button class="btn btn-success btn-sm" type="submit">Add</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
            <%})%>
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <%}
  else{%>
   
      <hr style="border: 1px solid white;" class="m-0 p-0 border border-info">
      <div class="text-center text-white bg-dark py-1" style="background-image: url(&quot;/image/background.jpg&quot;);">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="container bg-light py-2 my-2 w-75" style="border-radius: 10px; min-height:750px;">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="text-center my-2">
                      <b>
                        <a class="text-dark"> Search Result</a>
                    </h4>
                  </div>
                </div>
                <% _.each(search,function(search){%>
                <div class="row my-2" style="margin-top:0px !important;">
                  <div class="m-0 col-md-3" style="padding-right:0px; padding-top:0px; padding-bottom:0px;">
                    <img class="img-fluid d-block" src="<%=search.photo_url%>" width="100%"> </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="text-right col-md-12">
                        <h5 class="text-truncate py-1 w-100 text-left text-dark" style="margin-bottom: 0px !important;">
                          <a class="text-dark" href="http://localhost:1337/games/detailGame/<%=search.id%>"><%=search.game_name%></a>
                        </h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h6 class="py-1 m-0 text-left text-truncate"><%=search.release_date%></h6>
                      </div>
                      <div class="col-md-6">
                        <h6 class="py-1 m-0 text-right">Rp.<%= search.harga.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.") %></h6>
                      </div>
                    </div>
                    <div class="row my-1">
                      <div class="col-md-7 text-left">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span style="font-size:14px;"><%=search.rating%></span>
                      </div>
                      <div class="text-right col-md-5">
                        <a class="btn btn-success btn-sm" href="#">Add</a>
                      </div>
                    </div>
                  </div>
                </div>
                <%})%>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    <%}%>
  <div class="py-5 text-white bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 Gamestudio - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>

  <script>
      var get_url = window.location.pathname;
      
      
      document.getElementById("currenturl").value = get_url;
      
    </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
 
</body>

</html>